<main class="wrapper"></main>
<div class="audio">
  <audio src="dist/sounds/game-main.mp3" id="mainTheme" preload="auto" loop></audio>
  <audio src="dist/sounds/game-end.wav" id="endTheme" preload="auto"></audio>
  <audio src="dist/sounds/sand-move.wav" id="sandMove" preload="auto"></audio>
  <audio src="dist/sounds/player/player-death.wav" id="playerDeath" preload="auto"></audio>
  <audio src="dist/sounds/player/player-fire-explosion.wav" id="playerFireExplosion" preload="auto"></audio>
  <audio src="dist/sounds/player/player-hit.wav" id="playerHit" preload="auto"></audio>
  <audio src="dist/sounds/player/player-ice-explosion.wav" id="playerIceExplosion" preload="auto"></audio>
  <audio src="dist/sounds/player/player-ice-move.wav" id="playerIceMove" preload="auto"></audio>
  <audio src="dist/sounds/player/player-lighting-explosion.wav" id="playerLightingExplosion" preload="auto"></audio>
  <audio src="dist/sounds/mummy/mummy-attack-explosion.wav" id="mummyAttackExplosion" preload="auto"></audio>
  <audio src="dist/sounds/mummy/mummy-attack-move.wav" id="mummyAttackMove" preload="auto"></audio>
  <audio src="dist/sounds/mummy/mummy-death.wav" id="mummyDeath" preload="auto"></audio>
  <audio src="dist/sounds/mummy/mummy-hit.wav" id="mummyHit" preload="auto"></audio>
  <audio src="dist/sounds/mavka/mavka-attack-explosion.wav" id="mavkaAttackExplosion" preload="auto"></audio>
  <audio src="dist/sounds/mavka/mavka-death.wav" id="mavkaDeath" preload="auto"></audio>
  <audio src="dist/sounds/mavka/mavka-hit.wav" id="mavkaHit" preload="auto"></audio>
  <audio src="dist/sounds/anubis/anubis-attack-explosion.wav" id="anubisAttackExplosion" preload="auto"></audio>
  <audio src="dist/sounds/anubis/anubis-death.wav" id="anubisDeath" preload="auto"></audio>
  <audio src="dist/sounds/anubis/anubis-hit.wav" id="anubisHit" preload="auto"></audio>
</div>
