<div class="modal-task">
  <span id="modalTaskQuestion"></span>
  <form class="form" id="modalTaskForm">
    <input type="text" id="modalTaskInput" autocomplete="off" placeholder="Your answer...">
    <button class="form_button" id="modalTaskButton" tabindex="0">submit</button>
  </form>
</div>
<div class="modal-task">
  <span id="modalTaskQuestion"></span>
  <ul class="draggable-list" id="modalTaskList"></ul>
  <form id="modalTaskForm">
    <button class="form_button" id="modalTaskButton" tabindex="0">submit</button>
  </form>
</div>